
@use '../_colors.scss';

.gameSection {
    height: 45em;
    display: flex;
    justify-content: center;
    background: colors.$gameBG;
    margin: 0em 2em;
    & ul {
        width: 70em;
        height: 39em;
        margin-top: 4em;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        align-content: baseline;
        justify-content: center;
        padding-top: 3em;
        & li {
            list-style-type: none;
            cursor: pointer;
            & img {
                transition: box-shadow 0.4s;
            }
            & img:hover {
                box-shadow: 7px 7px #454444;
            }
        }
    }
}








